html {
    background-color: #0D0D0D;
}

.heading {
    font-family: "Copperplate", sans-serif;
    font-size: 48px;
    color: #FFFAF0;
    text-align: center;
}

.home {
    color: aquamarine;
    text-align: center;
}

.home-link {
    text-decoration: none;
}

p, h2, h3, li {
    color: #FFFAF0;
    letter-spacing: 0.25px;
}

h3 {
    color: mediumaquamarine;
}

li {
    line-height: 1.5em;
    height: auto;
}

p {
    line-height: 1.5em;
    text-align: center;
}

.recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.description p, h2 {
    text-align: center;
}

.links {
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
    align-items: center;
}

img {
    border-radius: 20%;
}

.links img:hover{
    transform: scale(1.05);
    transition: all ease;
    box-shadow: 0 0 5px aquamarine;
}